.single {
    display: flex;

    .singleContainer {
        flex: 6;

        .top {
            padding: 20px;
            display: flex;
            gap: 20px;

            .left {
                flex: 1;
                padding: 10px;
                box-shadow: 2px 4px 10px 1px rgba(187, 185, 185, 0.47);
                border-radius: 2px;
                position: relative;

                .editButton {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: rgb(34, 165, 34);
                    background-color: rgba(34, 165, 34, 0.205);
                    cursor: pointer;
                    padding: 2px 8px;
                    font-size: 14px;
                    border-radius: 0px 2px 0px 2px;
                }

                .title {
                    color: lightgray;
                    font-size: 18px;
                }

                .item  {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .itemImg {
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        object-fit: cover;
                        align-self: center;
                    }

                    .details {
                        .itemTitle {
                            margin-bottom: 5px;
                            color: #555;
                        }

                        .detailItem {
                            margin-bottom: 5px;
                            font-style: 14px;

                            .itemKey {
                                font-weight: bold;
                                color: gray;
                                margin-right: 5px;
                            }

                            .itemValue {
                                font-weight: 300;
                            }
                        }
                    }
                }
            }

            .right {
                flex: 2;
            }
        }

        .bottom {
            margin: 10px 20px;
            padding: 20px;
            box-shadow: 2px 4px 10px 1px rgba(187, 185, 185, 0.47);
            border-radius: 2px;

            .title {
                color: lightgray;
                font-size: 18px;
            }
        }
    }
}