.home {
    display: flex;

    .homeContainer {
        flex: 6;

        .widgets, .charts {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

        .charts {
            padding: 5px 20px;
        }

        .listContainer {
            box-shadow: 2px 4px 10px 1px rgba(187, 185, 185, 0.47);
            padding: 20px;
            margin: 20px;

            .listTitle {
                font-weight: 500;
                color: gray;
                margin-bottom: 5px;
            }
        }
    }
}