.navbar {
    height: 50px;
    border-bottom: 0.5px solid rgb(236, 230, 230);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper {
        display: flex;
        align-items: center;
        padding: 10px;
        justify-content: space-between;
        width: 100%;

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid rgb(236, 230, 230);
            padding: 3px;

            &::placeholder {
                font-size: 12px;
            }

            input {
                border: 0px;
                outline: none;
                background-color: transparent;
            }
        }
        
        .items {
            display: flex;
            align-items: center;
            gap: 20px;

            .item {
                display: flex;
                align-items: center;
                position: relative;
                padding: 4px;

                .icon {
                    font-size: 20px;
                    color: #7055d1;
                    cursor: pointer;
                }

                .counter {
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    font-size: 12px;
                    font-weight: 700;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    right: 0;
                }

            }
        }
    }
}